<section class="property-binding" >
  <!-- Inicio InterPolacao Comentario
  <article>
    <h3> InterPolation / Interpolação </h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
    <p>Curso do Angular e Gosto do Curso: {{ cursoAngular && getCurtirCurso()}}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImagem }}">
    <img [src]="urlImagem">
    <img bind-src="urlImagem">
  </article>
  Fim InterPolacao Comentario -->

  <article>
    <h3> Class e Style Binding </h3>
    <br>
      Selecione um classe
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-danger">Erro</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-info">Info</option>
      </select>
      <br><br>
      <div class="alert {{ classe.value }}">Texto colorido conforme valor do combobox.</div>
      <div class="alert" role="alert"
      [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
      <div class="alert" role="alert"
      [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>
      <div class="alert" role="alert"
      [class.alert-warning]="classe.value == 'alert-warning'">Warning</div>
      <div class="alert" role="alert"
      [class.alert-info]="classe.value == 'alert-info'">Info</div>

      <div class="alert alert-danger" role="alert"
       [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
      Este texto aparece somente em caso de erro</div>
    <br>
  </article>

</section>
