<br>Selecione um aula
<select #aula (change)="0">
  <option value="">Nenhuma</option>
  <option value="property-binding">09. property-binding</option>
  <option value="class-style-binding">10. class-style-binding</option>
  <option value="event_binding">11. event_binding</option>
  <option value="two-way-binding">12. two-way-binding</option>
  <option value="input-output-properties">13, 14 e 16. input-output-properties</option>
  <option value="todos">Todos</option>
</select>
<br>

<!-- 9. Inicio property-binding -->
<ng-template [ngIf]="aula.value == 'property-binding' || aula.value == 'todos'">
  <article>
    <h3> InterPolation / Interpolação </h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
    <p>Curso do Angular e Gosto do Curso: {{ cursoAngular && getCurtirCurso()}}</p>
  </article>
  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImagem }}">
    <img [src]="urlImagem">
    <img bind-src="urlImagem">
  </article>
</ng-template>
<!-- 9. Fim property-binding -->

<!-- 10. Inicio class-style-binding -->
<ng-template [ngIf]="aula.value == 'class-style-binding' || aula.value == 'todos'">
  <article>
    <h3> Class e Style Binding </h3>
    <br>
      Selecione um classe
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-danger">Erro</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-info">Info</option>
      </select>
      <br><br>
      <div class="alert {{ classe.value }}">Texto colorido conforme valor do combobox.</div>
      <div class="alert" role="alert"
      [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
      <div class="alert" role="alert"
      [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>
      <div class="alert" role="alert"
      [class.alert-warning]="classe.value == 'alert-warning'">Warning</div>
      <div class="alert" role="alert"
      [class.alert-info]="classe.value == 'alert-info'">Info</div>

      <div class="alert alert-danger" role="alert"
       [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
      Este texto aparece somente em caso de erro</div>
    <br>
  </article>
</ng-template>
<!-- 9. Fim property-binding -->

<!-- 11. Inicio class-style-binding -->
<ng-template [ngIf]="aula.value == 'event_binding' || aula.value == 'todos'">
  <article>
    <h3> Event Binding </h3>
    <div>
        <button (click)="botaoClicado()" class="btn btn-primary">Me Clique</button>
        <br><br>
        <input type="text"
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvaValor(campoInput.value)"
        (blur)="salvaValor(campoInput.value)"
        #campoInput >
        <p>Valor atual: {{ valoratual }} </p>
        <p>Valor salvo: {{ valorSalvo }} </p>
        <br><br>
        <span
        (mouseouver)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver">Passe o mouse sobre mim</span>
    </div>
  </article>
</ng-template>
<!-- 11. Fim event_binding -->

<!-- 12. Inicio two-way-binding https://youtu.be/NxtlQSpSgx8 -->
<ng-template [ngIf]="aula.value == 'two-way-binding' || aula.value == 'todos'">
<app-meu-form></app-meu-form>
</ng-template>
<!-- 12. Fim two-way-binding -->

<!-- 13, 14 e 16. Inicio input-output-properties https://youtu.be/G2cBpYZ0fzk -->
<ng-template [ngIf]="aula.value == 'input-output-properties' || aula.value == 'todos'">
<section class="input-output-properties" >
  <article>
    <h3> Input/Output Properties </h3>
    <app-curso [nome]="nomeDoCurso"></app-curso>
    <contador [valor]="valorInicial"
    (mudouValor)="onMudouValor($event)"
    ></contador>
  </article>
</section>
</ng-template>
<!-- 13. Fim input-output-properties -->
